<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPushTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftPushTestNotificationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93F3620A2819D05200A1A7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F362202819D05400A1A7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F3622A2819D05400A1A7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F362422819DCC300A1A7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
